* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

html {
    scroll-behavior: smooth;
}

:root {
    --primaria: #9C83FF;
    --secundaria: #FF9051;
    --escuro: #000;
    --claro: #fff;
    --vidro: rgba(255, 255, 255, 0.1);
}

body {
    background-color: var(--escuro);
    color: var(--claro);
    background-image: url(/img/Background\ Pattern.png);
    background-repeat: no-repeat;
    background-position: 25vw -2vh;
    background-size: contain;
}

.navegacao {
    position: fixed;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: rgba(0, 0, 0, 0.8);
    width: 100%;
    z-index: 100;
    top: 0;
    padding: 1rem 15rem;
}

.menu,
.btn-nav {
    display: flex;
    list-style: none;
    gap: 2rem;
    justify-content: center;
}

.btn-CV {
    padding: 10px 12px;
    background-color: #ffffff;
    border-radius: .6rem;
    text-decoration: none;
    color: #000000;
    font-size: 1rem;
    font-weight: 500;
}

.menu-link {
    text-decoration: none;
    color: var(--claro);
    font-weight: 500;
    position: relative;
    padding: 0.5rem 0;
}

.menu-link::before {
    content: '';
    height: 2px;
    width: 0%;
    position: absolute;
    bottom: 0;
    left: 0;
    background: linear-gradient(90deg, var(--primaria), var(--secundaria));
    transition: width 0.5s ease;
}

.menu-link:hover::before {
    width: 100%;
}

.cabecalho {
    min-height: 80vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.foto-perfil {
    width: 250px;
    height: 250px;
    box-shadow: 0 0 20px rgba(46, 46, 46, 0.5);
    border-radius: 50%;
    animation: flutuar 5s ease-in-out infinite;
}

h1 {
    font-size: 60px;
    height: auto;
    color: var(--claro);
    font-weight: bold;
    
}

.cabecalho-subtitulo {
    font-size: 1.5rem;
    margin-top: -1rem;
    color: var(--claro);
    font-weight: 600;
}

.cabecalho-subtitulo span {
  background: linear-gradient(90deg, var(--primaria), var(--secundaria));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  color: transparent;
}

.cabecalho p {
    margin: 1rem auto;
    width: 35%;
    text-align: center;
    font-size: 1rem;
    font-weight: 300;
}

.sobre {
    padding: 6rem 2rem;
}

.sobre-titulo {
    font-size: 3rem;
    color: var(--claro);
    text-align: center;
    margin-bottom: 20px;
}

.sobre-container {
    padding: 2rem;
    max-width: 600px;
    margin: 0 auto;
    border-radius: 1rem;
    border: 1px solid var(--vidro);
    backdrop-filter: blur(10px);
    background: rgba(255, 255, 255, 0.05);
}

.sobre-paragrafo {
    text-align: center;
    font-size: 1rem;
}

.projetos {
    padding: 6rem 2rem;
}

.projetos-titulo {
    text-align: center;
    font-size: 2.5rem;
    margin-bottom: 40px;
}

.projetos-imagem {
    width: 100%;
    height: 200px;
    object-fit: cover;
    border-radius: 10px;
}

.projetos-container {
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    justify-content: center;
    max-width: 1100px;
    margin: 0 auto;
    margin-bottom: 4rem;
}

.projetos-item {
    background: rgba(255, 255, 255, 0.05);
    border-radius: 16px;
    backdrop-filter: blur(5px);
    border: 1px solid var(--vidro);
    overflow: hidden;
    transition: transform 0.5s ease;
    width: 30%;
    min-width: 300px;
    max-width: 350px;
    text-decoration: none;
}

.projetos-item:hover {
    transform: translateY(-10px) scale(1.05);
    box-shadow: 0 10px 20px rgba(79, 70, 229, 0.2);
}

.info-projetos{
    font-size: 1.5rem;
    color: var(--claro);
    margin: 5px 0;
    margin-bottom: 5px;
}

.paragrafo-projetos{
    color: rgba(226, 232,240, 0.8);
    line-height: 1.25rem;
}

.caixa-texto-projeto {
    padding: 1.5rem;
}

.botao-projeto { 
    color: var(--claro);
    background: linear-gradient(45deg, var(--primaria), var(--secundaria));
    border: none;
    padding: 1.5rem 2rem;
    border-radius: 8px;
    cursor: pointer;
    font-weight: bold;
    width: 20%;
    transition: all 0.5s ease;
    text-decoration: none;
    display: block;        
    margin: 0 auto;
    text-align: center;  
    font-size: 1.5rem;
    font-weight: 500;
}

.botao-projeto:hover {
    transform: translateY(-4px);
    box-shadow: 0 5px 15px rgba(79, 70, 229, 0.4);
}

.contato {
    padding: 6rem 2rem;
}

.contato-titulo {
    text-align: center;
    font-size: 2.5rem;
    margin-bottom: 40px;
}

.formulario-contato{
    max-width: 600px;
    margin: 0 auto;
    background: rgba(255, 255, 255, 0.05);
    border-radius: 16px;
    padding: 2rem;
    backdrop-filter: blur(5px);
    border: 1px solid var(--vidro);
}

.grupo-form{
    margin-bottom: 1.5rem;
}

.campo-form{
    width: 100%;
    font-weight: bold;
    padding: 1rem;
    background: rgba(255, 255, 255, 0.05);
    border-radius: 8px;
    color: var(--claro);
    border: 1px solid var(--vidro);
    outline: none;
}

.campo-form:focus {
    border-color: var(--secundaria);
    box-shadow: 0 0 10px rgba(79, 70, 229, 0.3);
}

.botao-form { 
    color: var(--claro);
    background: linear-gradient(45deg, var(--primaria), var(--secundaria));
    border: none;
    padding: 1rem 2rem;
    border-radius: 8px;
    cursor: pointer;
    font-weight: bold;
    width: 100%;
    transition: all 0.5s ease;
}

.botao-form:hover {
    transform: translateY(-4px);
    box-shadow: 0 5px 15px rgba(79, 70, 229, 0.4);
}

@keyframes flutuar {
    0%, 100% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(-7%);
    }
}

@media screen and (max-width: 440px) {
   .foto-perfil {
      width: 300px;
      height: 300px;
   }

   .botao-projeto {
    width: 200px;
   }
}